@import "tailwindcss";
@plugin '@tailwindcss/forms';

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/concord";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@font-face {
  font-family: "Modak";
  src: url("/fonts/Modak-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .font-modak {
    font-family: Modak;
  }
}
